@using PagedList
@using PagedList.Mvc

@using Web.Areas.ModulMehanicar.Models
@model IPagedList<Web.Areas.ModulMehanicar.Models.OdrzavanjePrikaziVM>
@{
    ViewBag.Title = "Prikazi";
}


<div>
    @*<span>
        <a href="@Url.Action("Dodaj")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus-sign"></span>
            Dodaj novo odrzavanje
        </a>
    </span>*@

 
</div>
<div id="uredi_odrzavanje">
    <h2>Lista odrzavanja</h2>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Troskovi odrzavanja</th>
                <th>Datum odrzavanja</th>

                <th>Tip odrzavanja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OdrzavanjePrikaziVM item in Model)
            {
                <tr>
                    <td>@item.Troskovi</td>
                    <td>@item.Datum.ToShortDateString()</td>

                    <td>@item.Tip_Odrzavanja</td>
                    <td>@Html.ActionLink("Detalji", "Details", new { odrzavanjeID = item.OdrzavanjeId })</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PagedListPager(Model, page => Url.Action("Prikazi", new { page }))

</div>