@model Web.Areas.ModulMehanicar.Models.OdrzavanjeDetaljnoVM
<div class="col-md-6">
    <div>
        <hr/>
        <h2>Zakljuci status za instradaciju za vozilo: @Model.Datum.ToShortDateString() || @Model.Voziloo.Model - @Model.Voziloo.Proizvodzac:</h2>
     



        <form id="forma">

            @Html.HiddenFor(model => model.Voziloo.VoziloId)
            @Html.HiddenFor(model => model.TipOdrzavanjaId)
            @Html.HiddenFor(model => model.OdrzavanjeId)
            <div class="aParent" style="width: 400px">
                <div class=" aChild" style="margin-right: 10px">

                    @Html.DropDownListFor(model => model.StatusId, Model.Statusi, new {@class = "form-control"})
                </div>
                <div class="bChild">
                    <button type="button" id="btnSubmit" class="btn btn-success" style="width: 100px">ZAKLJUČI</button>
                </div>

            </div>
        </form>

    </div>
</div>
<script>

    $("#btnSubmit").click(function (event) {
        alert("succes");
        var forma = $("#forma");

        $.ajax({
            url: "@Url.Action("ZakljuciStatus", "Odrzavanje")",
            type: "GET",
            data: forma.serialize(),
            success: function (data) {
                $("#ajaxDiv").html(data);
            }
        });


    })

</script>