
@model Web.Areas.ModulMehanicar.Models.NabavkaDetaljnoVM

@{
    ViewBag.Title = "DodajNabavku";
}
<div class="aParent">
    @using (Ajax.BeginForm("SnimiS", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "stavke_output" }))
    {
        <div class="row dispozicija unos aChild">
            <div class="x_panel">
                <div class="x_title">
                    <h3 class="x-title">Nova nabavka</h3>
                </div>
                <div class="panel-body detalji">
                    <div class="form-group">
                        <label>SIfra</label>
                        @Html.TextBoxFor(x => x.Sifra, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Naziv dobavljaca</label>
                        @Html.DropDownListFor(model => model.DobavljacId, Model.DobavljaciStavke, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label>Datum</label>
                        @Html.TextBoxFor(x => x.DatumNabavke, new { @class = "form-control" })
                    </div>
                    <div>
                        <p class="error-msg"></p>
                        @Html.HiddenFor(x => x.NabavkaId)
                        <input type="submit" value="Spremi" class="btn btn-success" />
                    </div>


                    @*@Ajax.ActionLink("Spremi", "SnimiS", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "stavke-output" })*@

                </div>

                @*<div>
                        @Ajax.ActionLink("Dodaj stavku", "DodajStavku", new { nabavkaId = Model.NabavkaId }, new AjaxOptions { HttpMethod = "post", UpdateTargetId = "dodajS" })
                    </div>*@
            </div>
        </div>
    }

    <div id="stavke_output">

    </div>

</div>
<div id="stavkeList" class="aChild">

</div>
