
@model TransportnoPreduzece.Web.Areas.ModulDispecer.Models.KlijentProfilVM
@{
    ViewBag.Title = "Profil";
}





<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="x_panel">
            <div class="x_title">
                <h3 class="x-title">Pofil klijenta @Model.Naziv</h3>
            </div>
            <div class="panel-body" id="client-info">
                <table class="table table-user-information" >
                    <tbody>
                        
                        <tr>
                            <td><label>Email</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.Mail)</td>
                        </tr>
                        <tr>
                            <td><label>Telefon</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.Telefon)</td>
                        </tr>
                        <tr>
                            <td><label>Fax</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.Fax)</td>
                        </tr>
                        <tr>
                            <td><label>Adresa</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.Adresa)</td>
                        </tr>
                        <tr>
                            <td><label>Drzava</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.Drzava)</td>
                        
                        <tr>
                            <td><label>Posljednja dispozicija</label></td>
                            <td>@Html.DisplayFor(modelItem => Model.PosljednjaDispozicija)</td>
                        </tr>

                                            
                       
                       
                    </tbody>
                </table>
                <div class="buttons text-right">
                    @Ajax.ActionLink("Uredi", "Uredi",new { klijentId = Model.KlijentId }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "get", UpdateTargetId = "client-info" },new { @class = "btn btn-primary" })
                    @Html.ActionLink("Obriši", "Obrisi", new { klijentId = Model.KlijentId }, new { @class = "btn btn-danger" })
                </div>
                </div>

        </div>


    </div>
    <div class="col-xs-12 col-md-7" id="profil-dispozicije">

       @{ Html.RenderAction("KlijentDispozicije", "Klijent", new { Values = Model.KlijentId }); }
        

    </div>

    
</div>