@model Web.Areas.ModulLogistika.Models.OdrzavanjeVM

@{
    Layout = null;
}



@using (Ajax.BeginForm("SnimiOdrzavanje", new AjaxOptions { HttpMethod = "post", UpdateTargetId = "odrzavanja" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.voziloId)
    @Html.HiddenFor(x => x.odrzavanjeId)


    <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
            <label>Datum</label>
            @Html.TextBoxFor(x => x.datum, new { @class = "form-control  date-picker" })
            @Html.ValidationMessageFor(x => x.datum, null, new { style = "color:red" })

        </div>

        <div class="form-group">
            <label>Kilometraza</label>
            @Html.TextBoxFor(x => x.kilometraza, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.kilometraza, null, new { style = "color:red" })
        </div>

        <div class="form-group">
            <label>Troskovi</label>
            @Html.TextBoxFor(x => x.troskovi, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.troskovi, null, new { style = "color:red" })
        </div>

        <div class="form-group">
            <label>Detaljno</label>
            @Html.TextAreaFor(x => x.detaljno, new { @class = "form-control", rows = "", cols = "", style = "width: 90%; height: 50px;" })
            @Html.ValidationMessageFor(x => x.detaljno, null, new { style = "color:red" })
        </div>

        <div class="form-group">
            <label>Tip količine</label>
            @Html.DropDownListFor(x => x.tipOdrzavanjaId, Model.tipoviOdrzavanja, "Odaberite tip", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.tipOdrzavanjaId, null, new { style = "color:red" })
        </div>

        <input type="submit" value="Spremi" class="btn btn-primary pull-right" />

    </div>
}

<script>
    $(function () {
        $('.date-picker').datepicker({
            autoclose: true,
            todayHighlight: true,
            format: 'dd.mm.yyyy',
            startDate: "+2d"
        });
    });
</script>



