
@using PagedList.Mvc
@using PagedList

@using Web.Areas.ModulVozac.Models
@model IPagedList<Web.Areas.ModulVozac.Models.InstradacijePrikaziVM>

@{
    // Layout = null;
}
<div class="x_content">

    <table class="table table-hover ">
        <thead>
        <tr>
            <th>Datum</th>

            <th>Drzava od</th>
            <th>Drzava do</th>
            <th>Vozilo</th>
            <th>Prikljucno vozilo</th>

            <th>Status</th>

        </tr>
        </thead>
        <tbody>

        @foreach (InstradacijePrikaziVM item in Model)
        {

            <tr>

                <td>@Html.ActionLink(item.Datum.ToShortDateString(), "Details", "Instradacija", new { instradacijaId = item.InstradacijaId }, null)</td>

                <td>@item.DrzavaOd</td>
                <td>@item.DrzavaDo</td>
                <td>@item.Vozilo</td>
                <td>@item.PrikljucnoVozilo</td>
                <td>@item.Status</td>
            </tr>

        }
        </tbody>
    </table>

    <div class="paged-list" data-otf-target="#instradacije-output">
        @Html.PagedListPager(Model, page => Url.Action("Prikazi", new { page }),
            PagedListRenderOptions.PageNumbersOnly)

    </div>





</div>



