

@model Web.Areas.ModulVozac.Models.InstradacijeDetaljiVM
<div class="panel-body">
    <h3 class="hdng">Detalji o instradaciji:</h3>
    <table width="100%">
        <tbody>
            <tr>
                <td><label>Datum</label></td>
                <td>@Model.Datum.ToShortDateString()</td>
            </tr>
            <tr>
                <td><label>Priključno vozilo</label></td>
                <td>@Model.PrikljucnoVozilo</td>
            </tr>
            <tr>
                <td><label>Vozilo</label></td>
                <td>@Model.Vozilo</td>
            </tr>
            <tr>
                <td><label>Ulazna carinarnica</label></td>
                <td>@Model.UlaznaCarinarnica BAM</td>
            </tr>
            <tr>
                <td><label>Izlazna carinarnica</label></td>
                <td>@Model.IzlaznaCarinarnica BAM</td>
            </tr>
            <tr>
                <td><label>Status</label></td>
                <td>@Model.Status </td>

                <td align="left">@Ajax.ActionLink("Izmijeni status", "Statusi", new { instradacijaId = Model.InstradacijaId }, new AjaxOptions() { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxDiv" })</td>
            </tr>
            <tr><td><br /></td></tr>

            <tr><td colspan="3"><hr /></tr>

            <tr>
                <td><h5>Definiši troškove:</h5></td>

                <td>@Ajax.ActionLink("Dodaj ostale utroške", "Troskovi", new { instradacijaId = Model.InstradacijaId }, new AjaxOptions() { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxDiv" }, new { @class = "btn btn-primary btn-sm" })</td>
                <td class="td-info">@Ajax.ActionLink("Dodaj utrošak sipanja", "TrosakBenzin", new { vozacId = Model.VozacId , instradacijaId = Model.InstradacijaId }, new AjaxOptions() { HttpMethod = "get", InsertionMode = InsertionMode.Replace, UpdateTargetId = "ajaxDiv" }, new { @class = "btn btn-primary btn-sm" })</td>
            </tr>


        </tbody>
    </table>


</div>



<div id="ajaxDiv">

</div>
<div>

    @Html.Action("PrikaziTroskove", "Instradacije", new { instradacijaId = Model.InstradacijaId })

</div>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script>
    $(".btnUredi").click(function (event) {

        var btn = $(this);
        var id = btn.attr("idVal");

        $.ajax({
            url: "@Url.Action("Statusi", "Instradacije")",
            type: "GET",
            data: { instradacijaId: id },
            success: function (result) {
                $("#ajaxDiv").html(result);
            }

        });
    });*@



